Proyecto_Cascanueces/Cascanueces.json
[
    {
        "id": "9645883b7e1cb05a",
        "type": "tab",
        "label": "ZARM",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6974cb8903249e93",
        "type": "ui_slider",
        "z": "9645883b7e1cb05a",
        "name": "",
        "label": "Der",
        "tooltip": "",
        "group": "d2dd5eed4227d338",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "-150",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "55dbc301376a5335"
            ]
        ]
    },
    {
        "id": "2d5206c521ce7fbe",
        "type": "debug",
        "z": "9645883b7e1cb05a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "55dbc301376a5335",
        "type": "function",
        "z": "9645883b7e1cb05a",
        "name": "function 1",
        "func": "global.set(\"pasos\", msg.payload);\nvar pasos=global.get(\"pasos\");\n    msg.payload=pasos;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "2d5206c521ce7fbe",
                "0f29e112c39d26e7"
            ]
        ]
    },
    {
        "id": "0f29e112c39d26e7",
        "type": "mqtt out",
        "z": "9645883b7e1cb05a",
        "name": "",
        "topic": "zarm/pasos",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6a5131be9de9943",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "f469946ed147d44e",
        "type": "ui_slider",
        "z": "9645883b7e1cb05a",
        "name": "",
        "label": "Izq",
        "tooltip": "",
        "group": "d2dd5eed4227d338",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "150",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "55dbc301376a5335"
            ]
        ]
    },
    {
        "id": "337035b5cf0548a5",
        "type": "ui_text",
        "z": "9645883b7e1cb05a",
        "group": "d2dd5eed4227d338",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Canciones y tiras leds",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": "18",
        "color": "#41b5d2",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b17dd04cbd2eb61",
        "type": "ui_text",
        "z": "9645883b7e1cb05a",
        "group": "d2dd5eed4227d338",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motor a pasos",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Narrow,Nimbus Sans L,sans-serif",
        "fontSize": "18",
        "color": "#41b5d2",
        "x": 260,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f4d22ed55063944",
        "type": "ui_button",
        "z": "9645883b7e1cb05a",
        "name": "",
        "group": "d2dd5eed4227d338",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Siguiente",
        "tooltip": "next",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "siguiente",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "2558e6ef68206e3d",
                "67a5be06f68a93d8"
            ]
        ]
    },
    {
        "id": "2558e6ef68206e3d",
        "type": "mqtt out",
        "z": "9645883b7e1cb05a",
        "name": "",
        "topic": "zarm/musica",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6a5131be9de9943",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "67a5be06f68a93d8",
        "type": "mqtt out",
        "z": "9645883b7e1cb05a",
        "name": "",
        "topic": "zarm/led",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6a5131be9de9943",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "d91651fdbb62bdd6",
        "type": "mqtt in",
        "z": "9645883b7e1cb05a",
        "name": "",
        "topic": "zarm/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c6a5131be9de9943",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "e40c6c2a41a17180",
                "8f3b648844d881f2"
            ]
        ]
    },
    {
        "id": "e40c6c2a41a17180",
        "type": "ui_text",
        "z": "9645883b7e1cb05a",
        "group": "d2dd5eed4227d338",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distancia:",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "8f3b648844d881f2",
        "type": "function",
        "z": "9645883b7e1cb05a",
        "name": "function 2",
        "func": "let value = parseFloat(msg.payload);\n\nif (value < 10) {\n    msg.payload = \"mover\";\n    return msg;\n} else {\n    msg.payload = \"reset\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 480,
        "wires": [
            [
                "08f182b1b9f39960",
                "2d5206c521ce7fbe"
            ]
        ]
    },
    {
        "id": "08f182b1b9f39960",
        "type": "mqtt out",
        "z": "9645883b7e1cb05a",
        "name": "",
        "topic": "zarm/servo",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6a5131be9de9943",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "89574335899556c5",
        "type": "mqtt in",
        "z": "9645883b7e1cb05a",
        "name": "",
        "topic": "zarm/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c6a5131be9de9943",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 600,
        "wires": [
            [
                "1140dfeca4ee12af",
                "2d5206c521ce7fbe"
            ]
        ]
    },
    {
        "id": "1140dfeca4ee12af",
        "type": "ui_text",
        "z": "9645883b7e1cb05a",
        "group": "d2dd5eed4227d338",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura:",
        "format": "{{value}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "d2dd5eed4227d338",
        "type": "ui_group",
        "name": "Proyecto",
        "tab": "eb3af507af054d15",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6a5131be9de9943",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eb3af507af054d15",
        "type": "ui_tab",
        "name": "Proyecto",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]